body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', 'serif';
}

.arrowsWrap {
  width: 50px;
  margin: 0 auto;
}
.arrowsWrap .arrows {
  padding: 15px 0;
  cursor: pointer;
  display: inline-block;
  -webkit-animation-name: wobble-vertical;
  animation-name: wobble-vertical;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation: wobble-vertical 2s steps(10) infinite;
  -moz-animation: wobble-vertical 2s steps(10) infinite;
  -ms-animation: wobble-vertical 2s steps(10) infinite;
  -o-animation: wobble-vertical 2s steps(10) infinite;
  animation: wobble-vertical 2s steps(10) infinite;
}
.arrowsWrap .arrows img {
  /*Loop Animation*/
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  width: 50px;
  height: 50px;
}
.arrowsWrap .arrows img:hover {
  opacity: .5;
}

.arrows.open img {
  /*Rotate Animation*/
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.nav {
  background: #EBEBEB;
  padding: 0;
  cursor: pointer;
  display: none;
}
.nav ul {
  list-style: none;
  display: inline;
  padding: 0;
}
.nav ul li {
  border-bottom: 1px solid white;
  text-align: center;
  padding: 17px;
  transition: .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
}
.nav ul li a {
  color: #818181;
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-weight: 300;
}
.nav ul li:hover {
  background: rgba(255, 255, 255, 0.7);
  color: #5A5A5A;
  transition: .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
}

.container {
  line-height: 1.6;
  text-align: justify;
}
.container article {
  font-weight: 300;
  font-size: 17px;
  width: 90%;
  margin: 0 auto 30px;
  color: #818181;
}
.container article h2 {
  font-weight: 500;
  font-size: 35px;
  border-bottom: 1px solid #E2E2E2;
  padding: 20px 0;
  color: #5E5E5E;
  text-align: center;
}

/*Hover.css Copyright Ian Lunn 2014.*/
/* Wobble Vertical */
@-webkit-keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
